# Copyright (c) 2024 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_MAX32657FPGA
	select SOC_MAX32657 if BOARD_MAX32657FPGA_MAX32657 ||	\
						   BOARD_MAX32657FPGA_MAX32657_NS
