# ADIN6310_ETHERNET_SWITCH board configuration

# Copyright (c) 2024 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ADIN6310SWITCH

config BOARD
	default "ADIN6310SWITCH"

endif # BOARD_ADIN6310SWITCH
