# CANopenNode CANopen protocol stack configuration options

# Copyright (c) 2019 Vestas Wind Systems A/S
# Copyright (c) 2024 National Taiwan University Racing Team
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_CANOPENNODE_MODULE
	bool

config CANOPENNODE
	bool "CANopenNode support"
	select CRC
	depends on CAN && !CAN_FD_MODE
	help
	  This option enables the CANopenNode library.

if CANOPENNODE

config CANOPENNODE_CONFIG_FILE
	string "CANopen config file path"
	help
	  The path to the CANopen config file, use default config if
	  not provided. Refer to the documentation of301/CO_config.h
	  for supported configurations and their defaults.

config CANOPENNODE_SDO_SRV_TIMEOUT_TIME
	int "CANopen"
	default 1000

config CANOPENNODE_SDO_CLI_TIMEOUT_TIME
	int "CANopen"
	default 500

config CANOPENNODE_SDO_CLI_BLOCK
	bool "CANopen"
	default n

config CANOPENNODE_MAINLINE_THREAD_STACK_SIZE
	int "Stack size for the CANopen mainline thread"
	default 2048
	help
	  Size of the stack used for the internal thread which
	  processes time consuming CANopen tasks.

config CANOPENNODE_MAINLINE_THREAD_PRIORITY
	int "Priority for CANopen mainline thread"
	default 5
	help
	  Priority level of the internal thread which processes
	  time consuming CANopen tasks.

config CANOPENNODE_SYNC_THREAD_STACK_SIZE
	int "Stack size for the CANopen SYNC thread"
	default 1024
	help
	  Size of the stack used for the internal thread which
	  processes CANopen SYNC RPDOs and TPDOs.

config CANOPENNODE_SYNC_THREAD_PRIORITY
	int "Priority for CANopen SYNC thread"
	default 0 if !COOP_ENABLED
	default -5
	help
	  Priority level of the internal thread which processes
	  CANopen SYNC RPDOs and TPDOs.

config CANOPENNODE_LEDS_BICOLOR
	bool "CANopen bicolor LED indicator"
	help
	  Handle CANopen LEDs as one bicolor LED, favoring the red LED
	  over the green LED in accordance with the CiA 303-3
	  specification.

config CANOPENNODE_STORAGE_SUBTREE
	string "Settings subtree name for CANopen storage"
	default "canopen"
	help
	  Settings subtree name for CANopen storage

config CANOPENNODE_PROGRAM_DOWNLOAD
	bool "CANopen program download"
	depends on BOOTLOADER_MCUBOOT
	select IMG_MANAGER
	default y
	help
	  Enable support for program download over CANopen according
	  to the CiA 302-3 (draft) specification.

endif # CANOPENNODE
